.art-page {

}

.art-page-photo {

}

.art-page-price {
    font-size: 36px;
    margin-bottom: 15px;
}

.art-page-desc {

}

.art-page-artist-contacts {

}

.art-page-buttons {
    margin-top: 20px;
}