.artist-page {

}

.artist-page-desc {

}

.artist-page-art {

}

.artist-page-art-image {
    margin-bottom: 10px;
}

.artist-page-art-title {
    font-size: 20px;
}

.artist-page-art-price {
    margin-top: 5px;
}