.registration-offer {
    max-width: 800px;
}

.registration-offer-title {

}

.registration-offer-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.registration-offer-item:last-child {
    margin-bottom: 0;
}

.registration-offer-item-icon {
    flex: 0 0 48px;
    padding-right: 20px;
}

.registration-offer-item-text {
    font-size: 20px;
}